<div>
  <div class="card-header">
      <span>{{data.rollType.value}}</span>
      <div class="card-footer">Lancement de {{data.rollFormula.value}}</div>
  </div>
  <div>
      <div class="card-result">
        {{data.rollmessageDeDragon.value}}
      </div>
  </div>
  <div>
      <div class="card-result">
        {{data.rollAutreDe.value}}
      </div>
  </div>
  <div>
      <div class="card-result">
        {{data.rollmessageToucherAvecDragon.value}}
      </div>
  </div>
    
  <div>
      <div class="card-result">
        {{data.rollmessageToucherSansDragon.value}}
      </div>
  </div>        
      <div>
        <div class="card-result">       {{data.rollConstellation.value}}
        </div>
      </div>   
      

  <footer>
      
  </footer>
</div>
