<form class="{{cssClass}}" autocomplete="off" draggable ="true" >
     <header class="sheet-header flexrow">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                
                <input style="font-weight: bold; font-size: large; margin-top: 12px; color: gray;" name="data.substitution" type="text" value="{{data.substitution}}" data-dtype="String" placeholder="Vertu héroïque de substitution" />  
            </h1>

        </div>
    </header>

{{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="parole">Parole</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body" >
        {{!-- Description Tab --}}        

        <div class="tab" data-group="primary" data-tab="description">            
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}           
        </div>

        {{!-- Parole Tab --}}
        <div class="tab" data-group="primary" data-tab="parole">   
            
            {{data.detail_parole.premiere_parole.label}}          
            {{editor content=data.detail_parole.premiere_parole.description target="data.detail_parole.premiere_parole.description" button=true owner=owner editable=editable}}             

            {{data.detail_parole.deuxieme_parole.label}}
            {{editor content=data.detail_parole.deuxieme_parole.description target="data.detail_parole.deuxieme_parole.description" button=true owner=owner editable=editable}}       

            {{data.detail_parole.troisieme_parole.label}}          
            {{editor content=data.detail_parole.troisieme_parole.description target="data.detail_parole.troisieme_parole.description" button=true owner=owner editable=editable}}             

            {{data.detail_parole.quatrieme_parole.label}}
            {{editor content=data.detail_parole.quatrieme_parole.description target="data.detail_parole.quatrieme_parole.description" button=true owner=owner editable=editable}}  

            {{data.detail_parole.cinquieme_parole.label}}          
            {{editor content=data.detail_parole.cinquieme_parole.description target="data.detail_parole.cinquieme_parole.description" button=true owner=owner editable=editable}}             

            {{data.detail_parole.sixieme_parole.label}}
            {{editor content=data.detail_parole.sixieme_parole.description target="data.detail_parole.sixieme_parole.description" button=true owner=owner editable=editable}}  
        </div>
    </section>
</form>